<section class="about-section">
    <div class="container padding-container about-desk-wrap">
        <picture>
            <source
              srcset="
              ./img/about-desk-1x-min.png 1x,
              ./img/about-desk-2x-min.png  2x
              "
              media="(min-width: 1000px)"
            />
            <source
              srcset="
               ./img/about-mob-1x-min.png 1x,
               ./img/about-mob-2x-min.png 2x
              "
              media="(max-width: 999px)"
            />
            <img
              src="./img/about-mob-1x-min.png"
              alt="my picture" 
              loading="lazy" 
              class="about-picture fade-in" 
            />
          </picture>
          <img src="./img/about-name-min.png" alt="name" class="about-name" id="aboutDesk">
          <div class="about-text-wrap">
            <h3 class="about-text-title">Anna Kostroma</h3>
            <p class="about-under-title">Founder of Grann Pastry</p>
            <p class="about-text">From hobby to own business.</p>
            <p class="about-text">I graduated from DGF International Culinary School in Kyiv, and later studied at one of the world's most renowned hotel service and culinary schools, "Le Cordon Bleu" (France). I started my business after gaining experience and working in one of the largest pastry workshops in Georgia (1500 sq.m.).</p>
            <p class="about-text">Currently, I have launched my own brand and am building my own pastry workshop. My work inspires me. Thanks to my pastries, I can create happy moments for you!</p>
          </div>
    </div>
</section>