<section class="bestsellers-section">
    <div class="container">
<h1 class="best-title">BESTSELLERS</h1>
<ul class="bestlist">

</ul>

<ul>
  <li class="best-item "><img srcset="./img/best-1-2x-min.jpg 2x" src="./img/best-1-1x.jpg" alt="cakes" loading ="lazy" class="best-img fade-in"><div class="best-wrap"><h4 class="best-list-title">Mango-Passionfruit mousse cake</h4><p class="best-list-p">1200UAH/3kg</p><svg class="best-shop-card" width="30" height="30"><use href="../img/svg.svg#icon-shoping-cart"></use></svg></div></li>      <li class="best-item "><img srcset="./img/best-2-2x-min.jpg 2x" src="./img/best-2-1x.jpg" alt="cakes" loading ="lazy" class="best-img fade-in"><div class="best-wrap"><h4 class="best-list-title">Chocolate brownie</h4><p class="best-list-p">300UAH/3pcs</p><svg class="best-shop-card" width="30" height="30"><use href="../img/svg.svg#icon-shoping-cart"></use></svg></div></li>    
</ul>
<div class="best-mob-btn">
  <button class="prevEl best-btn"><svg width="41" height="9">
    <use href="./img/svg.svg#icon-ArrowPrev"></use>
  </svg></button>
  <ul class="best-elipse">
    <li>
      <svg width="11" height="11" class="el-1">
        <use href="./img/svg.svg#icon-Ellipse"></use>
      </svg>
    </li>
    <li>
      <svg width="11" height="11" class="el-2">
        <use href="./img/svg.svg#icon-Ellipse"></use>
      </svg>
    </li>
    <li>
      <svg width="11" height="11" class="el-3">
        <use href="./img/svg.svg#icon-Ellipse"></use>
      </svg>
    </li>
  </ul>
  <button class="nextEl best-btn"><svg class="best-next-arrow" width="41" height="9">
    <use href="./img/svg.svg#icon-ArrowPrev"></use>
  </svg></button>
</div>
</div>
</section>