<section class="bestsellers-section">
    <div class="container padding-container">
      <h1 class="best-title title">BESTSELLERS</h1>
      <div class="best-desk-btn">
        <button class="prevEl best-btn">
          <svg width="41" height="9">
            <use href="./img/svg.svg#icon-ArrowPrev"></use>
          </svg>
        </button>
        <button class="nextEl best-btn">
          <svg class="best-next-arrow" width="41" height="9">
            <use href="./img/svg.svg#icon-ArrowPrev"></use>
          </svg>
        </button>
      </div>
      <div class="bestsellers-container">
      <ul class="bestlist"></ul>
      </div>
      <div class="best-mob-btn">
        <button class="prevElMob best-btn">
          <svg width="41" height="9">
            <use href="./img/svg.svg#icon-ArrowPrev"></use>
          </svg>
        </button>
        <ul class="best-elipse">
          <li>
            <svg width="11" height="11" class="el-1">
              <use href="./img/svg.svg#icon-Ellipse"></use>
            </svg>
          </li>
          <li>
            <svg width="11" height="11" class="el-2">
              <use href="./img/svg.svg#icon-Ellipse"></use>
            </svg>
          </li>
          <li>
            <svg width="11" height="11" class="el-3">
              <use href="./img/svg.svg#icon-Ellipse"></use>
            </svg>
          </li>
        </ul>
        <button class="nextElMob best-btn">
          <svg class="best-next-arrow" width="41" height="9">
            <use href="./img/svg.svg#icon-ArrowPrev"></use>
          </svg>
        </button>
      </div>
      <button class="best-fullRange-btn">VIEW THE FULL RANGE</button>
    </div>
  </section>