<section class="bestsellers-section">
    <div class="container">
<h1 class="best-title">BESTSELLERS</h1>
<ul class="bestlist">
    <li class="best-item">
        <picture>
            <source
              srcset="
              ../img/Rectangle4-1x-min.png 1x,
              ../img/Rectangle4-2x-min.png  2x
              "
              media="(min-width: 1100px)"
            />
            <source
              srcset="
               ../img/best-1-mob-1x-min.jpg 1x,
               ../img/best-1-mob-2x-min.jpg 2x
              "
              media="(max-width: 1999px)"
            />
            <img
              src="../img/best-1-mob-1x-min.jpg"
              alt="cakes"   
            />
          </picture>
          <div class="best-wrap">
    <h4 class="best-list-title">Mango-Passionfruit mousse cake</h4>
    <p class="best-list-p">1200UAH/3kg</p>
    <svg class="best-shop-card" width="30" height="30">
        <use href="../img/svg.svg#icon-shoping-cart"></use>
    </svg></div>
    </li>
    <li class="best-item">
        <picture>
            <source
              srcset="
              ../img/Rectangle4-1x-min.png 1x,
              ../img/Rectangle4-2x-min.png  2x
              "
              media="(min-width: 1100px)"
            />
            <source
              srcset="
               ../img/best-2-mob-1x-min.jpg 1x,
               ../img/best-2-mob-2x-min.jpg 2x
              "
              media="(max-width: 1999px)"
            />
            <img
              src="../img/best-2-mob-1x-min.jpg"
              alt="cakes"   
            />
          </picture>
          <div class="best-wrap">
    <h4 class="best-list-title">Chocolate brownie</h4>
    <p class="best-list-p">300UAH/3pcs</p>
    <svg class="best-shop-card" width="30" height="30">
        <use href="../img/svg.svg#icon-shoping-cart"></use>
    </svg>
</div>
    </li>
</ul>
</div>
</section>