<section class="catalog">
    <div class="catalog-container">
        <a href="./index.html" class="catalog-link"><span class="catalog-link-main">Main/</span>Catalog</a>
        <h1 class="title catalog-title" id="catalog">Catalog</h1>
  
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content-card">
                    <button class="catalog-btn" type="button" data-num="0">Cakes</button></div>
                </div>
                <div class="swiper-slide">
                    <div class="content-card">
                    <button class="catalog-btn" type="button" data-num="1">Pantries</button></div>
                </div>
                <div class="swiper-slide">
                    <div class="content-card">
                    <button class="catalog-btn" type="button" data-num="2" id="chouxpastry">Choux pastry</button></div>
                </div>
                <div class="swiper-slide">
                    <div class="content-card">
                    <button class="catalog-btn" type="button" data-num="3">Pizza</button></div>
                </div>
            </div>
        </div></div>
        <ul class="catalog-list storage-js"></ul>
     
</section>