<section class="catalog">
    <div class="catalog-container">
        <a href="./index.html" class="catalog-link">Main/Catalog</a>
 </div>
  
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content-card">
                    <button class="catalog-btn"><a href="#" class="catalog link">Cakes</a></button></div>
                </div>
                <div class="swiper-slide">
                    <div class="content-card">
                    <button class="catalog-btn"><a href="#" class="catalog link">Tistegko</a></button></div>
                </div>
                <div class="swiper-slide">
                    <div class="content-card">
                    <button class="catalog-btn"><a href="#" class="catalog link">Pizza</a></button></div>
                </div>
                <div class="swiper-slide">
                    <div class="content-card">
                    <button class="catalog-btn"><a href="#" class="catalog link">Pantries</a></button></div>
                </div>
            </div>
        </div>
    
</section>