<section class="do-section">
    <div class="container padding-container do-wrap">
        <div class="do-wrap-text">
        <h2 class="do-title">Let's make something unique together!</h2>
        <p class="do-text">You can order your own dessert recipe that you will enjoy. Fill out the form, and I will contact you to discuss the details of the order.</p>
        </div>
        <form class="do-form" autocomplete="off">
            <input type="text" name="username" class="do-input" placeholder="Name">
            <input type="tel" name="usertel" class="do-input" placeholder="Phone Number">
            <textarea  class="do-textarea" name="usertext" placeholder="Describe your preferences:"></textarea>
            <button type="submit" class="do-bnt">SEND</button>
        </form>
    </div>
</section>