<footer>
    <div class="container footer-container">
      <img srcset="./img/foter-logo-2x-min.png" src="./img/foter-logo-1x-min.png" alt="logo" class="foter-logo">
      <div>
      <p class="foter-text">village Khotiv, street Partizanska 1A</p>
      <p class="foter-text">Email: kostromaganna@gmail.com</p>
      <p class="foter-text">Tel: +38(099) 987 62 40</p>
      </div>
      <div class="footer-wrap">
      <ul class="footer-icon-list">
        <li class="footer-icon-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            >
          <svg class="foter-icon" width="34" height="34">
            <use href="./img/svg.svg#icon-Instagram"></use>
          </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a
            href="https://web.telegram.org/a/"
            target="_blank"
            rel="noopener noreferrer">
          <svg class="foter-icon" width="34" height="30">
            <use href="./img/svg.svg#icon-tg"></use>
          </svg>
        </a>
        </li>
        <li class="footer-icon-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            >
          <svg class="foter-icon"  width="34" height="34">
            <use href="./img/svg.svg#icon-Facebook"></use>
          </svg>
          </a>
        </li>
      </ul>
      <p class="foter-text">Privacy Policy</p>
      <p class="foter-text">Offer Contract</p>
      </div>
    </div>
</footer>

