<section class="galary">
  <div class="container">
        <ul class="galary-list">
            <li class="galarry-item">
                <picture>
                <source
                  srcset="
                  ./img/Rectangle1-1x-min.png 1x,
                  ./img/Rectangle1-2x-min.png  2x
                  "
                  media="(min-width: 1100px)"
                  width="500"
                />
                <source
                  srcset="
                   ./img/rect-1-mob-1x-min.png 1x,
                   ./img/rect-1-mob-2x-min.png 2x
                  "
                  media="(max-width: 1099px)"
                />
                <img
                  src="./img/rect-1-mob-1x-min.png"
                  alt="dessert"
                  
                />
              </picture>
             
            <button class="galarry-btn" type="button">Cakes</button>
            </li>
            <li class="galarry-item">
                <picture>
                    <source
                      srcset="
                      ./img/Rectangle2-1x-min.png 1x,
                      ./img/Rectangle2-2x-min.png  2x
                      "
                      media="(min-width: 1100px)"
                      width="500"
            />
                    <source
                      srcset="
                       ./img/rect-2-mob-1x-min.png 1x,
                       ./img/rect-2-mob-2x-min.png 2x
                      "
                      media="(max-width: 1099px)"
                    />
                    <img
                      src="./img/rect-2-mob-1x-min.png"
                      alt="dessert"
                    />
                  </picture>
                  <button class="galarry-btn" type="button">Choux pastry</button>
            </li>
            <li class="galarry-item">
                <picture>
                    <source
                      srcset="
                      ./img/Rectangle3-1x-min.png 1x,
                      ./img/Rectangle3-2x-min.png  2x
                      "
                      media="(min-width: 1100px)"
                      width="500"
                    />
                    
                    <source
                      srcset="
                       ./img/rect-3-mob-1x-min.png 1x,
                       ./img/rect-3-mob-2x-min.png 2x
                      "
                      media="(max-width: 1099px)"
                    />
                    <img
                      src="./img/rect-3-mob-1x-min.png"
                      alt="dessert"
                    />
                  </picture>
                  <button class="galarry-btn" type="button">Pastries</button>
            </li>
            <li class="galarry-item">
                <picture>
                    <source
                      srcset="
                      ./img/Rectangle4-1x-min.png 1x,
                      ./img/Rectangle4-2x-min.png  2x
                      "
                      media="(min-width: 1100px)"
                      width="500"
                    />
                    <source
                      srcset="
                       ./img/rect-4-mob-1x-min.png 1x,
                       ./img/rect-4-mob-2x-min.png 2x
                      "
                      media="(max-width: 1099px)"
                    />
                    <img
                      src="./img/rect-4-mob-1x-min.png"
                      alt="dessert"   
                    />
                  </picture>
                  <button class="galarry-btn" type="button">Pizza</button>
            </li>
        </ul>
      </div>
</section>