<header class="header">
    <div class="container header-container">
      <ul class="header-navigation nav">
        <li class="header-item-nav">Catalog</li>
        <li class="header-item-nav">About me</li>
      </ul>
  
      <img srcset="./img/logoGrann2x.png" src="./img/logoGrann1x.png" alt="logoGrann" class="logoGrann"/>
  
    <ul class="header-navigation">
      <li class="header-item-nav">Delivery</li>
      <li class="header-item-nav">Contacts</li>
    </ul>
      <svg class = "header-icon-menu" width="22" height="17">
        <use href = "./img/svg.svg#icon-menu-mob"></use>
      </svg>
      <svg class = "header-shopping-card" width="25" height="25">
        <use  href="./img/svg.svg#icon-shoping-cart"></use>
      </svg>
  </div>
  </header>