<section class="instagram-section">
    <div class="container padding-container">
        <h1 class="title">Instagram</h1>
    </div>
    <div class="insta-container">
    <ul class="insta-list">
        <li class="insta-item"><img srcset="./img/inst-1-2x-min.jpg" src="./img/inst-1-1x-min.jpg" alt="photos from Instagram" loading="lazy" class="insta-img fade-in"></li>
        <li class="insta-item"><img srcset="./img/inst-2-2x-min.jpg" src="./img/inst-2-1x-min.jpg" alt="photos from Instagram" loading="lazy" class="insta-img fade-in"></li>
        <li class="insta-item"><img srcset="./img/inst-3-2x-min.jpg" src="./img/inst-3-1x-min.jpg" alt="photos from Instagram" loading="lazy" class="insta-img fade-in"></li>
        <li class="insta-item"><img srcset="./img/inst-4-2x-min.jpg" src="./img/inst-4-1x-min.jpg" alt="photos from Instagram" loading="lazy" class="insta-img fade-in"></li>
        <li class="insta-item"><img srcset="./img/inst-5-2x-min.jpg" src="./img/inst-5-1x-min.jpg" alt="photos from Instagram" loading="lazy" class="insta-img fade-in"></li>
        <li class="insta-item"><img srcset="./img/inst-6-2x-min.jpg" src="./img/inst-6-1x-min.jpg" alt="photos from Instagram" loading="lazy" class="insta-img fade-in"></li>
    </ul>
    <nav class="inst-navigation">
        <button class="prevInstEl best-btn">
            <svg width="41" height="9">
              <use href="./img/svg.svg#icon-ArrowPrev"></use>
            </svg>
          </button>
          <ul class="inst-elipce">
            <li class="item-elipce"></li>
            <li class="item-elipce"></li>
            <li class="item-elipce"></li>
            <li class="item-elipce"></li>
          </ul>
          <button class="nextInstEl best-btn">
            <svg class="best-next-arrow" width="41" height="9">
              <use href="./img/svg.svg#icon-ArrowPrev"></use>
            </svg>
          </button>
    </nav>
    <svg class="inst-desk-icon" width="76" height="90">
      <use href="./img/svg.svg#inst-desk-arrow"></use>
    </svg>
    <button class="inst-desk-btn"><a href="https://www.instagram.com/"
      target="_blank"
      rel="noopener noreferrer">Visit my Instagram page</a></button>
</div>
</section>