<main>
    <div class="container">
      <h1 class="main-grann">GRANN</h1>
      <p class="main-p-undergrann">Signature desserts</p>
      <img srcset="./img/main-pict2x-min.png" src="./img/main-pict1x-min.png" class="main-pic" alt="Signature dessert" width="900">
      <p class="main-decor-text">We make desserts to order with love and care</p>
      <div class="main-div">
      <img
        srcset="./img/main-pict-mob2x-min.png 2x"
        src="./img/main-pict-mob-min.png"
        alt="Signature dessert"
        class="main-img-desert"
      />
      <ul class="main-list-soc">
        <li>
          <a
            href="https://web.telegram.org/a/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="main-soc-icon" width="24" height="24">
              <use href="./img/svg.svg#icon-tg"></use></svg></a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="main-soc-icon" width="24" height="24">
              <use href="./img/svg.svg#icon-Facebook"></use></svg></a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="main-soc-icon" width="24" height="24">
              <use href="./img/svg.svg#icon-Instagram"></use></svg></a>
        </li>
      </ul>
  </div>
  <a href="https://kssushas.github.io/Grann/catalog.html#catalog">
      <button class="main-btn-catalog"  type="button">
       TO THE CATALOG
      </button>
      </a>
    </div>
  </main>