<div class="mob-menu is-hidden" data-menu>
    <div class="mob-container">
     <button type="button" class="menu-close-btn" data-menu-close>
       <svg class="icon-close-menu" width="20" height="20">
         <use href="./img/svg.svg#icon-menu-close"></use>
       </svg>
     </button>
     <ul class="mob-list">
       <li class="mob-item"><a href="/index.html#bestsellers" class="mob-link">BestSellers</a></li>
       <li class="mob-item"><a href="/catalog.html#catalog" class="mob-link">Catalog</a></li>
       <li class="mob-item"><a href="/index.html#delivery" class="mob-link">Delivery</a></li>
       <li class="mob-item"><a href="/index.html#about" class="mob-link">About me</a></li>
     </ul>
     <li class="mob"><a href="#bestsellers" class="mob">BestSellllllllllllllllllllllllers</a></li>
     <img srcset="./img/mob-2x-min.png" src="./img/mob-1x-min.png" alt="cakes" class="mob-img">
    </div>
 </div>