<section class="question-section">
    <div class="container padding-container">
        <h1 class="question-title title">Popular questions</h1>
        <ul class="question-list">
            <li class="question-item" data-id="0">
                <div class="question-wrap">
                <svg class="question-icon" width="22" height="20">
                    <use href="./img/svg.svg#icon-question-icon"></use>
                </svg>
                <p class="question-item-text">How much time is needed to fulfill the order?</p>
            </div>
                <p class="question-list-answer">The order should be placed at least 3-4 days before your celebration.</p>
            </li>
            <li class="question-item" data-id="1">
                <div class="question-wrap">
                <svg class="question-icon" width="22" height="20">
                    <use href="./img/svg.svg#icon-question-icon"></use>
                </svg>
                <p class="question-item-text">Do you offer delivery?</p></div>
                <p class="question-list-answer">Yes! Delivery is available only within Kyiv.</p>
            </li>
            <li class="question-item" data-id="2">
                <div class="question-wrap">
                <svg class="question-icon" width="22" height="20">
                    <use href="./img/svg.svg#icon-question-icon"></use>
                </svg>
                <p class="question-item-text">Do you make fondant cakes?</p></div>
                <p class="question-list-answer">Yes we do! Our mini fondant cakes are always available to buy in our shop</p>
            </li>
            <li class="question-item" data-id="3">
                <div class="question-wrap">
                <svg class="question-icon" width="22" height="20">
                    <use href="./img/svg.svg#icon-question-icon"></use>
                </svg>
                <p class="question-item-text">Can your cakes be consumed by children and pregnant individuals?</p></div>
                <p class="question-list-answer">Yes, we make cakes with ingredients according to your preferences.</p>
            </li>
        </ul>
    </div>
</section>