<section class="why-section">
  <div class="trapezoid"></div>
    <div class="container">
            <h1 class="why-title">Why Grann?</h1>
            <div class="why-desk-wrap">
            <ul class="why-list">
                <li class="why-item">All ingredients are fresh and of high quality!</li>
                <li class="why-item">I only order products from suppliers who have quality certificates.</li>
                <li class="why-item">Ability to order a dessert according to your preferences</li>
                <li class="why-item">If for any reason you do not consume certain dessert ingredients, it is possible to place an order according to your preferences.</li>
                <li class="why-item">Convenient cake weight</li>
                <li class="why-item">You don't have to wait for a holiday to order something delicious. Our pastry shop makes mini cakes and desserts.</li>
                <li class="why-item">Minimum order weight: Napoleon and honey cake - from 0.5 kg. Mousse cakes - from 0.8 kg.</li>
            </ul>
            <picture>
                <source
                  srcset="
                  ./img/why-desk-1x-min.png 1x,
                  ./img/why-desk-2x-min.png  2x
                  "
                  media="(min-width: 1000px)"
                />
                <source
                  srcset="
                   ./img/why-mob-1x-min.png 1x,
                   ./img/why-mob-2x-min.png 2x
                  "
                  media="(max-width: 999px)"
                />
                <img
                  src="./img/why-mob-1x-min.png"
                  alt="dessert"
                  class="why-img"
                />
              </picture>
            </div>
              <h1 class="why-title">Delivery and payment</h1>

              <ul class="why-list-delivery">
                <li class="why-item-delivery">
                  <svg class="why-deliv-icon" width="86" height="86"><use href="./img/svg.svg#icon-why-1"></use>
                  </svg>
                  <h3 class="why-deliv-title">PickUp</h3>
                  <p class="why-deliv-text">Pickup from Pechersk District,Kyiv</p>
                </li>
                <li class="why-item-delivery">
                  <svg class="why-deliv-icon" width="102" height="70"><use href="./img/svg.svg#icon-why-2"></use>
                  </svg>
                  <h3 class="why-deliv-title">Delivery</h3>
                  <p class="why-deliv-text">Taxi delivery(at taxi service rates)</p>
                </li>
                <li class="why-item-delivery">
                  <svg class="why-deliv-icon" width="80" height="80"><use href="./img/svg.svg#icon-why-3"></use>
                  </svg>
                  <h3 class="why-deliv-title">Prepayment</h3>
                  <p class="why-deliv-text">Prepayment of 50% of the order amount via card</p>
                </li>
              </ul>
              <h1 class="why-title">About me</h1>
    </div>
</section>