.bestsellers-section{
    padding-top: 133px;
}

.best-title{
    margin-bottom: 32px;
    text-align: center;
    font-family: 'Moniqa';
    font-size: 80px;
    font-weight: 900;
    line-height: 83px;
}

.bestlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.best-list-title{
    max-width: 230px;
margin: 16px 0 10px;
font-size: 18px;
font-weight: 300;
line-height: 22px;
}

.best-list-p{
font-size: 16px;
font-weight: 300;
line-height: 20px;
}

.best-wrap{
    position: relative;
}
.best-shop-card{
    position: absolute;
    top: 0;
    right: 2px;
}

.best-mob-btn{
    display: flex;
    justify-content: space-between;
    width: 355px;
    margin: 40px auto 0;
}
.best-btn{
    width: 76px;
    height: 27px;
    background-color: transparent;
    border-radius: 22px;
    border: 1px solid var(--foter-color);
}
.best-next-arrow{
   transform: rotate(-180deg);
}

.best-elipse{
    display: flex;
    gap: 20px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 999px){
    .best-img{
        max-width: 350px;
    }
}
