footer{
    padding: 64px 20px 100px;
    color: var(--bg-main-color);
    background-color: var(--foter-color);
}
.foter-logo{
    width: 255px;
    margin: 0 auto 48px;
}

.foter-text{
font-size: 18px;
text-align: center;
}

.foter-text:not(:last-child):not(:nth-child(4)){
    margin-bottom: 24px;
}

.footer-icon-list{
    margin: 40px auto;
    display: flex;
    width: 182px;
    justify-content: space-between;
    align-items: center;
}

.foter-icon{
    fill: var(--bg-main-color);
}

.foter-icon:hover,.foter-icon:focus{
  fill: var(--hover-icon-color);
}

@media screen and (min-width: 1000px) {

    footer{
        padding: 88px 100px;
    }
  .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .foter-logo{
    order: 1;
  }

  .footer-wrap{
    order: 2;
  }

  .foter-logo{
    margin: 0;
  }

  .footer-icon-list{
      margin: 0 0 32px 0;
  }
}
