
.shop-container{
    padding: 40px 10px;
    max-width: 600px;
    margin: 0 auto; 
}
.shop-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: var(--bg-main-color);
    overflow: auto;
}

.title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    margin-bottom: 38px;
}
.shop-title{
    font-size: 18px;
}

.icon-close-shop{
    fill: var(--foter-color);
}

.shop-close-btn{
    background-color: transparent;
}

.shopList{
    margin: 0 auto;
    max-width: 430px;
}

.shopingListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopingListItem:not(:last-child){
   margin-bottom: 30px;
}
.shop-img{
    max-width: 168px;
}

.shop-wrap{
    max-width: 120px;
}

.shop-price{
    margin-top: 24px;
    font-size: 14px;
}

.shop-prod-title{
    font-size: 18px;
}

.shop-order-price{
    padding: 24px 28px;
    background-color: var(--bg-color);
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
}

.shop-total-price-p{
font-weight: 700;
line-height: 20px;
}

.shopingListItem:hover, .shopingListItem:focus{
    box-shadow: 2px 1px 1px 3px #fff;
}

@media screen and (min-width : 1000px){

    .shop-menu::before{
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 136px;
        left: 0;
    }
    .shop-container{
        padding: 81px 100px 40px;
        max-width: 1200px;
    }

    .shop-wrap{
        max-width: auto;
    }

    .shop-title{
        font-size: 24px;
    }

    .title-wrap{
        padding: 0;
        margin-bottom: 100px;
    }

    .shopList{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: start;
    }

    .shop-img{
        max-width: 286px;
    }

    .shop-prod-title{
        font-size: 24px;
    }

    .shop-price{
        margin-top: 28px;
        font-size: 16px;
    }

    .shop-order-price{
        max-width: 600px;
        margin: 40px auto 0;
    }

}