@import url('./reset.css');
@import url('./header.css');
@import url('./main.css');
@import url('./galary.css');
@import url('./bestsellers.css');
@import url('./why.css');

@font-face {
  font-family: 'Jeff';
  src: url('../fonts/jeff_script_1-webfont.woff2') format('woff2'),
       url('../fonts/jeff_script_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Moniqa';
  src: url('../fonts/moniqa-black-display-webfont.woff2') format('woff2'),
       url('../fonts/moniqa-black-display-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
:root {
  --bg-main-color: #F5F7F8;
  --bg-color:#F5EEE0;
  --foter-color: #705A66;
  --hover-color: #DDD5C6;
font-weight: 300;
  font-size: 16px;
  color: var(--foter-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  background-color: var(--bg-main-color);
  font-family: 'Montserrat';
}

.container{
  position: relative;
  margin: 0 auto;
  max-width: 775px;
  padding: 0 20px;
  /* overflow: hidden; */
}

@media screen and (min-width: 1000px) {
  .container{
    max-width: 1400px;
  }
}
